<form novalidate #form="ngForm" (ngSubmit)="submitForm()">
	<div class="form-row">
		<div class="col-md-4 mb-2">
			<label for="name">Nome</label>
			<input type="text"
			class="form-control"
			id="name"
			name="name"
			placeholder="Inserisci il tuo
			nome" [(ngModel)]="model.name"
			required
			minlength="2">
		</div>
		<div class="col-md-4 mb-2">
			<label for="mail">E-mail</label>
			<input type="email"
			class="form-control"
			[ngClass]= "{
			'is-invalid': mail.invalid && mail.dirty,
			'is-valid': mail.valid && mail.dirty
			}"
			id="mail"
			name="mail"
			placeholder="Inserisci la tua e-mail"
			[(ngModel)]="model.mail"
			#mail="ngModel"
			required
			pattern="[a-z0-9._%+-]+@[a-z0-9-.]+\.[a-z]{2,}$">
			<div
				*ngIf="mail.errors && mail.dirty"
				class="invalid-feedback">
				<p *ngIf="mail.errors.pattern" >
					Formato e-mail non valido
				</p>
				<p *ngIf="mail.errors.required" >
					* Campo obbligatorio
				</p>
			</div>
		</div>
		<div class="col-md-4 mb-2">
			<label for="dayOfTheWeek">Giorno della settimana</label>
			<select
				name="dayOfTheWeek"
				id="dayOfTheWeek"
				class="form-control"
				[(ngModel)]="model.dayOfTheWeek">
				<option *ngFor="let day of daysOfTheWeek"
				[value]="day">{{ day }}</option>
			</select>
		</div>
	</div>
	<div class="form-row mt-3 mb-3">
		<div class="form-check form-check-inline" *ngFor="let office of availableOffices">
			<input type="radio"
			name="office"
			id="office-{{ office.id }}"
			class="form-check-input"
			value="{{ office.name }}"
			[(ngModel)]="model.office">
			<label
				for="office"
			class="form-check-label">Ufficio {{ office.id }}</label>
		</div>
	</div>
	<div class="form-row mt-3 mb-3">
		<div class="form-check form-check-inline" *ngFor="let application of applications; let i = index;">
			<input type="checkbox"
			name="application{{ application.id }}"
			id="application-{{ application.id }}"
			class="form-check-input"
			value="richiesta_{{ application.id }}"
			[(ngModel)]="model['application' + i]">
			<label
				for="application"
				class="form-check-label">Richiesta {{ application.id
			}}</label>
		</div>
	</div>
	<div class="form-row">
		<button
			type="submit"
      class="btn btn-success"
      [disabled]="form.invalid">Prenota
    </button>
    <button
      type="submit"
      class="btn btn-danger"
      (click)="form.reset()"
      [disabled]="form.invalid">Reset
    </button>
	</div>
</form>
<pre>
	<!-- Proprietà del campo di input -->
	<!-- identificato dall'attributo name="name" -->
	dirty? {{ form.form.controls.name.dirty }}
	pristine? {{ form.form.controls.name.pristine }}
	touched? {{ form.form.controls.name.touched }}
	untouched? {{ form.form.controls.name.untouched }}
	valid? {{ form.form.controls.name.valid }}
	invalid? {{ form.form.controls.name.invalid }}
</pre>

<pre>
	<!-- Proprietà del campo di input -->
	<!-- identificato dall'attributo name="mail" -->
	dirty? {{ form.controls.mail.dirty }}
	pristine? {{ form.controls.mail.pristine }}
	touched? {{ form.controls.mail.touched }}
	untouched? {{ form.controls.mail.untouched }}
	valid? {{ form.controls.mail.valid }}
	invalid? {{ form.controls.mail.invalid }}
</pre>